{% extends "blog/blogbase.html" %}
{% block title %}<title>Add Blog</title> Blog{% endblock %}
{% block blog_content %}
  {% if user.isAuthenticated %}Hi {{ user.getFullName }}{% endif %}
    <h2>Add a Blog Entry</h2>
    <ul>
        {% for entry in entry_list %}
            <li>
                <span> Posted {{ entry.created }}</span>
                <p class="tease">{{ entry.tease }}</p>
            </li>
        {% endfor %}
        
    <form action="{% url 'blog_add_view' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
{% endblock %}