{% extends "blog/blogbase.html" %}
{% load django_markdown %}

{% block blog_entries %}
{% for object in object_list %}
    
    <div class="blog-post">
	    <h2 class="blog-post-title">{{object.title}}</h2>
	    <p class="blog-post-meta"> {{object.posted}} <a href="#"> {{object.created_user}}</a></p>
	   {{ object.body|markdown}}
	  </div>
	   {% block link %}
	   {% for contact in contacts %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br />
    ...
{% endfor %}
{% block add %}<h3><a role="presentation" class="active"><a href="{% url "blog_add_view" %}">Add Post</a><h3>{% endblock %}

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}  
    
{% endfor %}
{% endblock %}