{% extends "blog/blogbase.html" %}
{% load django_markdown %}
{% block add %}<h3><a role="presentation" class="active"><a href="{% url "blog_add_view" %}">Add Post</a><h3>{% endblock %}
{% block title %}<title>Blog</title> {% endblock %}

{% block blog_content %}
{% for object in object_list %}

    <div class="blog-post">
        <h2><a class="blog-post-title"><a href="{% url "entry_view" object.id %}">{{object.title}}</a></h2>
	    {% for tag in object.tags.all %}
	       <a href="{% url 'tag_entry_view' tag.slug %}">{{ tag.name }}</a>
	    {% endfor %}
	    <p class="blog-post-meta"> 
	       {{object.posted|date:"D d M Y"}} <a href="#"> {{object.created_user}}</a>
	    </p>
        {{ object.body|markdown}}
    </div>
    {% block link %}
        {% for contact in contacts %}
            {# Each "contact" is a Contact model object. #}
            {{ contact.full_name|upper }}<br />
            ...
        {% endfor %}
    {% endblock %}  
    
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginator.num_pages }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}