{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}<title>About</title>{% endblock %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/index">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="/blog">Blog</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Meet Tristin Wells</h3>
      </div>

      <div class="jumbotron">
        
        <h1>About Me</h1>
        <p class="lead">
        Tristin James/Danger Wells, DOB 10-28-1995, 6 foot, 186 lbs, hazel eyes, caucasian male
        - as stated on my government issued ID.  I am a very simple person.
        I have my family, my friends, my health, and that is all I need.
        [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
        [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
        [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
        
        </p>
      <div class="photobanner">
        <img class="first" src="{% static 'images/pic5.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic1.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic2.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic3.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic4.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic5.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic1.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic2.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic3.jpg' %}" alt="" style= "width:350px;height:233px">
        <img src="{% static 'images/pic4.jpg' %}" alt="" style= "width:350px;height:233px">
    </div>
    <p>[Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    [Add more sentences. Bear, pig, bacon, typewriter, booby traps, battle star golatica]
    </p>
      </div>
      {% endblock %}